﻿<!DOCTYPE html>
<html lang="en">
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Theis&Zabrina</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />



</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 navbar-fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Theis&Zabrina</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar navbar-fixed-top navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator") || User.IsInRole("Manager") || User.IsInRole("User"))
                        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Bryllup
                </a>

                <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="WeddingInfo">Bryllup</a>
                    <a class="dropdown-item" href="/Home/WeddingInfo#tidsplan">Tidsplan</a>
                    <a class="dropdown-item" href="/Home/WeddingInfo#dagen">Dagen</a>
                    <a class="dropdown-item" href="/Home/WeddingInfo#overnatning">Overnatning</a>
                    <a class="dropdown-item" href="/Home/WeddingInfo#transport">Sonnerupgaard Gods</a>
                    <a class="dropdown-item" href="/Home/WeddingInfo#ønskelisten">Ønskelisten</a>
                </div>
            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Tilmeldings" asp-action="Create">Tilmelding</a>
                            </li>
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Galleri
                                                </a>

                                                <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
                                                    <a class="dropdown-item" asp-area="" asp-controller="Billeders" asp-action="Index">Se Billeder</a>
                                                    <a class="dropdown-item" asp-area="" asp-controller="Billeders" asp-action="Create">Tilføj Billeder</a>
                                                </div>
                                            </li>}

                        @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator") || User.IsInRole("Manager"))
                        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Brude Paret
                </a>


                <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-area="" asp-controller="Tilmeldings" asp-action="Index">Se Tilmelding</a>
                </div>
            </li>}

                        @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Admin</a>
            </li>}
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Lavet af Jacob Pedersen - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
