﻿@model ZabWedding.Models.Tilmelding

@{
    ViewData["Title"] = "Tilmelding";
}

<h4>Tilmelding</h4>
<hr />
<div class="text-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fornavn" class="control-label"></label>
                <input asp-for="Fornavn" class="form-control" />
                <span asp-validation-for="Fornavn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Efternavn" class="control-label"></label>
                <input asp-for="Efternavn" class="form-control" />
                <span asp-validation-for="Efternavn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Allegi" class="control-label"></label>
                <input asp-for="Allegi" class="form-control" />
                <span asp-validation-for="Allegi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    Der er @ViewBag.peopleAmount Registreded gæster, Ind til videre
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
