﻿@model ZabWedding.Models.Tilmelding

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tilmelding</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fornavn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fornavn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Efternavn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Efternavn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Allegi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Allegi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
