﻿@model ZabWeddingV2.Models.Billeder

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Billeder</h4>
    <a asp-action="Index">Back to List</a> <<!--https://upload.wikimedia.org/wikipedia/commons/2/25/Ps-x-button.png -->
    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator") || User.IsInRole("Manager"))
    {
        <a asp-action="Delete" asp-route-id="@Model.ID">Delete</a>
    }
    <hr />
    <dl class="row">
        <img src="@Html.DisplayFor(model => model.Billede)" width="100%">

    </dl>
</div>
