﻿@{
    ViewData["Title"] = "Forside";
}

<div class="text-center">
    <h1 class="display-4">
        Bryllup<br>
        Theis & Zabrina
    </h1>
    <p></p>
    <p></p>
    <p></p>
    <script src="https://cdn.logwork.com/widget/countdown.js"></script>
    <a href="https://logwork.com/countdown-ryju" class="countdown-timer" data-style="columns" data-timezone="Europe/Copenhagen" data-language="da" data-date="2022-03-05 14:00" data-digitscolor="#306b3c">My Countdown</a>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p>
        Vi skal giftes.<br>
        Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla. Bla.
    </p>
</div>
