﻿<html lang="en">
@{
    ViewData["Title"] = "Bryllup informationer";
}


<head>
    <style type="text/css">
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px;
            /* The height is 400 pixels */
            width: 100%;
            /* The width is the width of the web page */
        }
    </style>
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            const uluru = { lat: 55.6019304, lng: 11.8355777 };
            // The map, centered at Uluru
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 17,
                center: uluru,
            });
            // The marker, positioned at Uluru
            const marker = new google.maps.Marker({
                position: uluru,
                map: map,
            });
        }
    </script>

</head>
<body>

    <!--The div element for the map -->
    

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDx4arwMKSLpCtdgnID0MV1F4L2qHMU4nw&callback=initMap&libraries=&v=weekly"
            async></script>


    <div class="text-center">
        <h1 class="display-4">Velkommen til vores virtuelle invitation</h1>
        <h3>Her vil du kunne finde svar på stort set alle spørgsmål. Vi opdatere løbende siden, så snart der er en ny detalje på plads</h3>
        <a id="tidsplan"></a>
        <h2>tidsplan</h2>
        <p>x</p>
        <p>x</p>
        <p>x</p>
        <p>x</p>
        <p>x</p>
        <p>x</p>
        <p>x</p>
        <p>x</p>
        <p>x</p>
        <p>x</p>
        <p>x</p>
        <a id="dagen"></a>
        <h2>Dagen</h2>
        <p>some info stuff</p>
        <a href="https://sonnerupgaard.dk"><img src="https://something-blue.dk/media/1647/skaermbillede-2019-03-13-kl-213959.png?anchor=center&mode=crop&rnd=132423466161200000" width="100%"></a>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <a id="ønskelisten"></a>
        <h2>ønskelisten</h2>
        <p>x</p>
        <p>x</p>
        <p>x</p>
        <p>x</p>
        <p>x</p>
        <p>x</p>
        <p>x</p>
        <p>x</p>
        <p>x</p>
        <p>x</p>
        <p>x</p>
        <p>x</p>
        <p>x</p>

        <a id="overnatning"></a>
        <h2>Overnatning</h2>
        <p>x</p>
        <p>x</p>
        <p>x</p>
        <p>x</p>
        <p>x</p>
        <p>x</p>
        <p>x</p>
        <p>x</p>
        <p>x</p>
        <p>x</p>

        <a id="transport"></a>
        <h2>Transport</h2>
        <p>Tølløsevej 53</p>
        <p>4330 Hvalsø</p>
        <div id="map"></div>









    </div>

</body>
</html>



