﻿@model ZabWedding.Models.Billeder

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Billeder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="file" name="files" class="file" multiple data-show-upload="true" data-show-caption="true" accept="image/*" />
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Fotograf" /> @Html.DisplayNameFor(model => model.Fotograf)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MySelfie" /> @Html.DisplayNameFor(model => model.MySelfie)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
