﻿@model IEnumerable<ZabWedding.Models.Billeder>
@using System.Drawing

@{
    ViewData["Title"] = "Index";
}

<h1>Galleri</h1>
<form asp-action="Index">
    <div class="form-group">
        <label class="control-label"> Myselfies </label>
        <input type="checkbox" name="myselfies" value="true" />
        <label class="control-label"> Fotograf </label>
        <input type="checkbox" name="fotograf" value="true" />
        <label class="control-label"> Resten </label>
        <input type="checkbox" name="resten" value="true" />
        <input type="submit" value="filter" class="btn btn-primary" />
    </div>
    <div class="form-group">
        
    </div>
</form>

<table class="table">
    <thead>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {

                    <a asp-action="Details" asp-route-id="@item.ID"> <img src="data:image/png;base64,@item.Billede" style="height:100px;width:200px; border:3px solid #00ff21; border-radius: 10px "></a>

        }
    </tbody>
</table>
