﻿<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script&display=swap" rel="stylesheet">
</head>

<div class="text-center">
    <div class="hvid">
        <h1 class="display-4">
            <br>
            Theis & Zabrina
        </h1>
        <p>
            Velkommen til bryllupshjemmesiden for Theis og Zabrinas bryllup. Hvis du er gæst, har du sammen med linket til denne side, modtaget et login, med brugernavn og kodeord. Vi ser frem til en fantastisk dag i selskab med alle jer.
        </p>
        <div class="forbilled">
            <img src="/Pictures/03.07.2021-wedding-115.jpg" />
        </div>

        <script src="https://cdn.logwork.com/widget/countdown.js"></script>
        <a href="https://logwork.com/countdown-ryju" class="countdown-timer" data-style="columns" data-timezone="Europe/Copenhagen" data-language="da" data-date="2022-03-05 14:00" data-digitscolor="#000000">My Countdown</a>

    </div>
</div>