﻿<html lang="en">
@{ ViewData["Title"] = "Bryllup informationer"; }


<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script&display=swap" rel="stylesheet">
    <style type="text/css">
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px;
            /* The height is 400 pixels */
            width: 100%;
            /* The width is the width of the web page */
        }
    </style>
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            const uluru = { lat: 55.6019304, lng: 11.8355777 };
            // The map, centered at Uluru
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 17,
                center: uluru,
            });
            // The marker, positioned at Uluru
            const marker = new google.maps.Marker({
                position: uluru,
                map: map,
            });
        }
    </script>

</head>
<body>

    <!--The div element for the map -->
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDx4arwMKSLpCtdgnID0MV1F4L2qHMU4nw&callback=initMap&libraries=&v=weekly"
            async></script>


    <div class="text-center">
        <div class="hvid">
            <div class="overskrift">
                <h1 class="display-4">Velkommen til vores virtuelle invitation</h1>
                <h3>Her vil du kunne finde svar på stort set alle spørgsmål. Vi opdatere løbende siden, så snart der er en ny detalje på plads.</h3>
            </div>
        </div>

        <div class="divider">
            <img src="/Pictures/Linesplit2.png">
        </div>

        <div class="hvid">
            <a id="tidsplan"></a>
            <h2>Tidsplan</h2>
            <p>mere info kommer snarligt</p>

        </div>

        <div class="divider">
            <img src="/Pictures/Linesplit2.png">
        </div>

        <div class="hvid">
            <a id="dagen"></a>
            <h2>Dagen</h2>
            <p>mere info kommer snarligt</p>
        </div>

        <div class="divider">
            <img src="/Pictures/Linesplit2.png">
        </div>


        <div class="hvid">

            <a id="overnatning"></a>
            <h2>Overnatning</h2>

            <div class="overnat">
                <p>
                    Der er mulighed for at booke værelser til vores bryllup på Sonnerupgaard Gods. Værelserne er selvbetalt, og skal betales ved booking. Vi anbefaler at i booker hurtigst muligt, da der er mulighed for at andre arrangementer, kan være nødsaget til at booke de resterende værelser. Der er TV og WIFI på alle værelser. <br />

                    Der er check in på værelser lørdag kl. 16 og seneste check ud er søndag kl. 10. Nøglerne samt værelseslisten, vil blive udleveret til en ansvarlig(navn kommer senere), som vil stå for uddelingen af nøgler lørdag, samt indsamlingen igen søndag. Morgenmad er noget vi sørge for, og vil forgå i festlokalet søndag kl. 9:30-11. <br />
                    <br />
                    <b>Guide til booking af værelser. </b>
                    <br />
                    1. Åbent linket
                    <br />
                    2. Marker d. 5. marts 2022.
                    <br />
                    3. Vælg antal gæster
                    <br />
                    4. Søg
                    <br />
                    5. Der vil komme to muligheder op
                    <br />
                        1. Lejlighed (1-4 personer)
                        <br />
                        2. Enkeltværelse (1-2 personer)
                    <br />
                    6. Book og betalt værelset.

                    <br />
                    <a href="https://booking.sonnerupgaard.dk/v2/widget/WidgetNewWindowStart?channelId=bcfa6e5f-5e3a-49d7-bc95-c3e410ab0af3&culture=da-DK&promoCode=LB-GÆST">
                        <button class="knap">Book Her</button>
                    </a>
                </p>
            </div>


            <div class="første">
                <div>
                    <img src="/Pictures/IMG_0672.jpg" />
                    <p>
                        <h3>Lejlighed </h3>
                        <br>

                        Det kan fungere for mellem 2 og 4 personer, og er indrettet med to værelser med dobbeltseng på 180cm, samt bad og toilet. Der fås separate nøgler til hvert værelset, der også fungere til fællesdøren, således at det kan deles med andre. Disse værelser ligger i stueetagen, som kaldes stalden.
                    </p>
                </div>
            </div>
            <div class="anden">
                <div>
                    <p>
                        <h3>Enkeltværelse</h3>
                        <br>
                        Det kan både fungere for 1 eller 2 personer, nogle af værelserne er med halvanden mandsseng(Venstre) på 140 cm, og de andre er en klassisk enkeltmandsseng med en udtræksseng (højre). De har alle eget bad og toilet. De fleste af disse værelser ligger primært på første sal, som kaldes høloftet.
                    </p>
                    <img src="/Pictures/vaerelse_49.jpg" />
                </div>
            </div>
        </div>
    </div>

    <div class="hvid">


        <a id="transport"></a>
        <div class="space"></div>
        <h2>Sonnerupgaard gods</h2>
        <p>
            Historien bag godset
            Sonnerupgaard gods blev opført helt tilbage i 1341, og har siden da haft mange forskellige ejere.

            Gården ejedes fra 1954-1959 af fabrikant Hollesen, af hvis bo Forsikringsselskabet Alm. Brand købte Sonnerupgaard. Forsikringsselskabet benyttede gården som eget kursuscenter i ca. 25 år og ombyggede hestestald og vognport til dette formål i 1963.

            Sonnerupgaard Gods blev ved årsskiftet 1996/97 erhvervet af Birgitte Israelsen Knudsen og Peter Kjær Knudsen, som købte ejendommen af Anne Dorph og Preben Herbo, der siden efteråret 1985 havde ejet ejendommen. Ejendommens jordtilliggende omfatter ca. 400 tdr. land. De 300 tdr. land er anvendt til planteavl, hovedsagelig korn. Resten er fordelt på de to skove, Dyrehaven og Engskoven. Den seneste godsejer er Anders Knudsen, som overtog godset fra sin mor i 2015.

        </p>
        <div class="space">
            <a href="https://sonnerupgaard.dk"><img src="https://something-blue.dk/media/1647/skaermbillede-2019-03-13-kl-213959.png?anchor=center&mode=crop&rnd=132423466161200000" width="100%"></a>
        </div>
        <div class="space">
            <h3>1877-Laden</h3>
            <p>
                Originale håndhuggede bjælker, kampestenene i væggene og 11 meter til toppen af loftet gør 1877-Laden til et festlokale, der gør at folk taber kæben, når de træder ind i lokalet. Antikt, smukt og rustikt.
            </p>
            <a href="https://sonnerupgaard.dk"><img src="/Pictures/gården.jpg" width="100%"></a>
        </div>
        <p class="lessspace">Tølløsevej 53</p>
        <p class="lessspace">4330 Hvalsø</p>
        <p class="lessspace">+45 70 44 41 87</p>
        <p>https://sonnerupgaard.dk/festlokaler/1877laden/</p>

        <a href="https://tinyurl.com/5d844hdv"><img src="/Pictures/Maps.png" width="100%"></a>







    </div>

    <div class="hvid">
        <a id="ønskelisten"></a>
        <h2>Ønskelisten</h2>
        <p>
            Vi har her samlet en stor og ret omfattende ønskeliste, kort så har vi kun links til de ting, hvor vi ønsker noget specifikt.
        </p>

        <div class="flex-container">
            <div class="storbox">
                <div class="flexbillede">
                    <a href="https://www.davidsenshop.dk/juliana-city-greenhouse-vaegdrivhus-paa-hjul-4-mm-haerdet-glas-sort-c-id35993-p-61701855849?gclid=Cj0KCQiAhMOMBhDhARIsAPVml-Frxa20Qi0y8aUqxWvRsd6hKRUOUEbeJBEVS-OxGrgbK1icgZtP5qAaAmJ8EALw_wcB">
                        <img src="/Pictures/greenhouse.jpg" />
                    </a>
                </div>
                <div class="textflex">
                    <p>
                        <h3>Juliana City Drivhus</h3>
                        Da Zabrina ikke syntes en plantekasse længere er tilstrækkeligt, ønsker vi os dette drivhus. Det er lille nok til at kunne stå på vores terrasse, men stort nok til at kunne gro de urter og grøntsager som vi drømmer om.
                    </p>
                    <a href="https://www.davidsenshop.dk/juliana-city-greenhouse-vaegdrivhus-paa-hjul-4-mm-haerdet-glas-sort-c-id35993-p-61701855849?gclid=Cj0KCQiAhMOMBhDhARIsAPVml-Frxa20Qi0y8aUqxWvRsd6hKRUOUEbeJBEVS-OxGrgbK1icgZtP5qAaAmJ8EALw_wcB">
                        <button class="knap">Link</button>
                    </a>
                </div>

            </div>
            <div class="storbox">
                <div class="flexbillede">
                    <a href="https://royaldesign.dk/oriental-dampekogere-200mm-bambu?gclid=Cj0KCQiAhMOMBhDhARIsAPVml-FRFmHcqw2Q1OjjFlU_bC8YYPpr1oeScyj9FjtL74r6H8EEniG7kbQaAuE-EALw_wcB">
                        <img src="/Pictures/kitchen-craft-oriental-dampekogere-200mm-bambu-0.jpg" />
                    </a>
                </div>
                <div class="textflex">
                    <p>
                        <h3>Bambus damper/steamer </h3>
                        Simpel, bæredygtigt, og super funktionelt.
                    </p>
                    <a href="https://royaldesign.dk/oriental-dampekogere-200mm-bambu?gclid=Cj0KCQiAhMOMBhDhARIsAPVml-FRFmHcqw2Q1OjjFlU_bC8YYPpr1oeScyj9FjtL74r6H8EEniG7kbQaAuE-EALw_wcB">
                        <button class="knap">Link</button>
                    </a>
                </div>

            </div>
            <div class="storbox">
                <div class="flexbillede">
                    <a href="https://www.droemmeland.dk/temprakon-zone-u-pude-qu2010210/">
                        <img src="/Pictures/Picture12.jpg" />
                    </a>
                </div>
                <div class="textflex">
                    <p>
                        <h3>Keramiske pander </h3>
                        Vores pander er ved at give op, derfor ønsker vi os nye. Theis har arbejdet længe på at finde den type pande, som både er holdbar og funktionel, derfor er valget faldet på keramiske pander. Den type som vi har linket til, findes i tre størrelser, og derfor finder i tre links.
                        <br />
                        <a href="https://www.hwl.dk/pande-elite-keramisk-665220_master?var1=876853921">
                            <button class="knap">Link 28cm</button>
                        </a>
                        <a href="https://www.hwl.dk/pande-elite-keramisk?var1=868203169">
                            <button class="knap">Link 24cm</button>
                        </a>
                        <a href="https://www.hwl.dk/pande-elite-keramisk-665220_master?var1=859552417/">
                            <button class="knap">Link 20cm</button>
                        </a>
                    </p>
                </div>
            </div>
            <div class="storbox">
                <div class="flexbillede">
                    <a href="https://www.hwl.dk/lacor-ismaskine---ikke-til-proff-brug">
                        <img src="/Pictures/ismaskine.jpg" />
                    </a>
                </div>
                <div class="textflex">
                    <p>
                        <h3>Ismaskine </h3>
                        Vi går ikke ned på køkkenudstyr, og derfor er en ismaskine et most. Theis har selv fået lov at vælge hvilken en, så vi foretrækker at holde os til den.
                    </p>
                </div>

            </div>
            <div class="storbox">
                <div class="flexbillede">
                    <a href="">
                        <img src="/Pictures/Picture1.jpg" />
                    </a>
                </div>
                <div class="textflex">
                    <p>
                        <h3> Lagioule steak bestik </h3>
                        Vi er begge fans af Lagioule, og derfor ønsker vi os steak bestik, enten som sæt, eller kun knive. Det betyder meget for Zabrina at det er bæredygtigt, så vi ikke får horn og lignende.
                    </p>
                </div>

            </div>
            <div class="storbox">
                <div class="flexbillede">
                    <a href="https://www.hwl.dk/imperia-sp150-pastamaskine?gclid=Cj0KCQiAhMOMBhDhARIsAPVml-Gcc_1LEwsD6UZ8h1zQJrc2AMOvCPVjLNJjoR3SnqPxJoJlKrXvkm4aAnlPEALw_wcB">
                        <img src="/Pictures/pasta.jpg" />
                    </a>
                </div>
                <div class="textflex">
                    <p>
                        <h3>Pastamaskine </h3>
                        Vi går ikke ned på køkkenudstyr. Valg af en manuel er meget med vilje.
                    </p>
                    <a href="https://www.hwl.dk/imperia-sp150-pastamaskine?gclid=Cj0KCQiAhMOMBhDhARIsAPVml-Gcc_1LEwsD6UZ8h1zQJrc2AMOvCPVjLNJjoR3SnqPxJoJlKrXvkm4aAnlPEALw_wcB">
                        <button class="knap">Link</button>
                    </a>

                </div>

            </div>
            <div class="storbox">
                <div class="flexbillede">
                    <a href="https://www.skiftselv.dk/massageapparat/a2d8bdbc-895f-4c2d-a5e8-060e4b19f31e/?utm_source=PriceRunner-Husholdning-Husholdning%3EPersonligpleje%3EMassageapparat&utm_medium=cpc&utm_campaign=produkt">
                        <img src="~/Pictures/fodbad.jpg" />
                    </a>
                </div>
                <div class="textflex">
                    <p>
                        <h3>Fodbad </h3>
                        Vi ønsker os et fodbad, og når vi linker til dette, så er det fordi det har den smarte funktion, at det kan foldes sammen, og derved er pladsbesparende. Hvis der er et andet, som kan noget der er meget bedre, så er vi åbne for det.
                    </p>
                </div>

            </div>

        </div>


        <div class="storbox">
            <div class="flexbillede">
                <a href="">
                    <img src="/Pictures/Picture2.jpg" />
                </a>
            </div>
            <div class="textflex">
                <p>
                    <h3> Luigi Bormioli, gin og tonic glas  </h3>
                    Vi mener at baren herhjemme trænger til en opgradering, og derfor måtte Gin og Tonic (Tim og Tommy) glas, da være det helt rigtige
                </p>
            </div>

        </div>
        <div class="storbox">
            <div class="flexbillede">
                <a href="https://www.barlife.dk/laguiole-champagnesabel-9998.html?gclid=Cj0KCQiAhMOMBhDhARIsAPVml-GfWeQZSZf1_oxt57FCwRU55xt5iG2HY3lK_m8jjmON1K0abhCnWDoaAh3lEALw_wcB">
                    <img src="/Pictures/sabel.jpg" />
                </a>
            </div>
            <div class="textflex">
                <p>
                    <h3>Champagne sabel</h3>
                    Vi elsker at sable champagne, og derfor ønsker vi os denne champagne sabel, som både er flot på hylden, men samtidig funktionel og selvfølgelig er fra Lagioule.
                </p>
                <a href="" https: //www.barlife.dk/laguiole-champagnesabel-9998.html?gclid =Cj0KCQiAhMOMBhDhARIsAPVml-GfWeQZSZf1_oxt57FCwRU55xt5iG2HY3lK_m8jjmON1K0abhCnWDoaAh3lEALw_wcB">
                    <button class="knap">Link</button>
                </a>
            </div>

        </div>

        <div class="storbox">
            <div class="flexbillede">
                <a href="">
                    <img src="/Pictures/Picture3.jpg" />
                </a>
            </div>
            <div class="textflex">
                <p>
                    <h3> Isterningemaskine  </h3>
                    Lige som med glas, ville det være luksus at kunne tænde for en ismaskine, og derved kunne have isterninger til enhver lejlighed. Eneste krav: skal kunne producere forholdsvist hurtigt efter opstart, og ikke fylde alt for meget.
                </p>
            </div>

        </div>

        <div class="storbox">
            <div class="flexbillede">
                <a href="">
                    <img src="/Pictures/Picture4.jpg" />
                </a>
            </div>
            <div class="textflex">
                <p>
                    <h3>Baggamon spil</h3>
                    Det skal gerne være i god kvalitet, og helst lavet af træ, derfor linkes der til dette spil. Vi er åbne for alternativer.
                </p>
            </div>

        </div>

        <div class="storbox">
            <div class="flexbillede">
                <a href="">
                    <img src="/Pictures/Picture5.jpg" />
                </a>
            </div>
            <div class="textflex">
                <p>
                    <h3>Penge til renovering af den røde stol </h3>
                    Theis har arvet Kim Tønders gamle stol, og den har behov for en renovering og ombetrækning, derfor spare vi (sammen med alt det andet), sammen til de 12.000 kr. det vil koste at få den renoveret.
                </p>
            </div>

        </div>

        <div class="storbox">
            <div class="flexbillede">
                <a href="">
                    <img src="/Pictures/Picture7.jpg" />
                </a>
            </div>
            <div class="textflex">
                <p>
                    <h3>Guld (Gerne før brylluppet) </h3>
                    Vi har valgt at vente med at købe vores vielsesringe til efter brylluppet, fordi vi har måtte spare, derfor ønsker vi os mest arvegods, som vi kan omsmelte til vielsesringe. Det er klart det mest sentimentale at få arveguld, fordi det kan fortælle en historie, end hvis vi køber os til guld, men vi er åbne for også at få penge til guld. Vi har dog alligevel en lille drøm om, at få nok guld før brylluppet, så vi alligevel kan nå at have ringe klar til den store dag.
                </p>
            </div>
        </div>

        <div class="storbox">
            <div class="flexbillede">
                <a href="">
                    <img src="/Pictures/Picture9.jpg" />
                </a>
            </div>
            <div class="textflex">
                <p>
                    <h3>Lygtebom </h3>
                    Da vi også ønsker os en cykelanhænger, og det er lovkrav at der dertil skal være en lygtebom, ønsker vi os også dette.
                </p>
            </div>
        </div>
        <div class="storbox">
            <div class="flexbillede">
                <a href="https://fdmshop.dk/transportudstyr/cykelholdere/cykelholdere-til-anhaengertraek/thule-xpress-970-cykelholder-til-2-cykler/?gclid=Cj0KCQiAhMOMBhDhARIsAPVml-HJ_xySu9vSi12QDMsVaeCC0WTgIONWFcPO1tOUysmvWODTRVuFRqoaAjOBEALw_wcB&gclsrc=aw.ds">
                    <img src="/Pictures/cykel.jpg" />
                </a>
            </div>
            <div class="textflex">
                <h3>Cykelanhænger til bil </h3>
                <p>Det meget bevist vi ønsker denne type cykelanhænger, fordi vi ikke har nogle steder at gøre af de større modeller, da vi ikke har skur eller lignende. </p>
                <a href="https://fdmshop.dk/transportudstyr/cykelholdere/cykelholdere-til-anhaengertraek/thule-xpress-970-cykelholder-til-2-cykler/?gclid=Cj0KCQiAhMOMBhDhARIsAPVml-HJ_xySu9vSi12QDMsVaeCC0WTgIONWFcPO1tOUysmvWODTRVuFRqoaAjOBEALw_wcB&gclsrc=aw.ds">
                    <button class="knap">Link</button>
                </a>
            </div>

        </div>
        <div class="storbox">
            <div class="flexbillede">
                <a href="https://www.johannesfog.dk/byggecenter/produkter/2HORTUS_TERRASSEVARMER17/?code=2831524&utm_source=Pricerunner&utm_medium=cpc&utm_campaign=byggecenter">
                    <img src="/Pictures/teresse.jpg" />
                </a>
            </div>
            <div class="textflex">
                <p>
                    <h3>Terrassevarmer </h3>
                    Det kunne være utrolig luksus at have en terrassevarmer. Denne lille fikse sag, kan varme hele vores terrasse, mens den samtidig ikke er større end at den kan stå på havebordet.
                </p>
                <a href="https://www.johannesfog.dk/byggecenter/produkter/2HORTUS_TERRASSEVARMER17/?code=2831524&utm_source=Pricerunner&utm_medium=cpc&utm_campaign=byggecenter">
                    <button class="knap">Link</button>
                </a>
            </div>

        </div>

        <div class="storbox">
            <div class="flexbillede">
                <a href="">
                    <img src="/Pictures/Picture8.jpg" />
                </a>
            </div>
            <div class="textflex">
                <p>
                    <h3>Kongespil</h3>
                    Vi har masser af grønne områder hvor vi bor, men mangler aktiviteter at samles om, derfor ønsker vi os et kongespil.
                </p>
            </div>
        </div>

        <div class="storbox">
            <div class="flexbillede">
                <a href="">
                    <img src="/Pictures/Picture10.jpg" />
                </a>
            </div>
            <div class="textflex">
                <p>
                    <h3>Par Morgenkåber </h3>
                    Vi vil gerne være det der mærkelige par, som har ens morgenkåber. I har forholdsvis stor frihed, eneste krav er at de ikke er lavet af syntetiske materialer, men af naturlige som bomuld, bambus, mm.
                </p>
            </div>
        </div>

        <div class="storbox">
            <div class="flexbillede">
                <a href="https://www.droemmeland.dk/temprakon-zone-u-pude-qu2010210/">
                    <img src="/Pictures/Picture11.jpg" />
                </a>
            </div>
            <div class="textflex">
                <p>
                    <h3>Temprakon U zone hovedpuder</h3>
                    I forbindelse med køb at vores nye store seng, mangler vi begge en ny hovedpude til at opnå optimal komfort. Denne hovedpude er præcis det, med en kerne af skumplader, der kan højdejusteres og et ydre lag af dun, giver det bedste vi har prøvet.
                </p>
                <a href="https://www.droemmeland.dk/temprakon-zone-u-pude-qu2010210/">
                    <button class="knap">Link</button>
                </a>
            </div>
        </div>

        <div class="storbox">
            <div class="flexbillede">
                <a href="https://e-home.dk/produkt/foldbar-traekvogn-sort/">
                    <img src="/Pictures/Picture13.jpg" />
                </a>
            </div>
            <div class="textflex">
                <p>
                    <h3>Foldbar trækvogn </h3>
                    Da vi nu bruger så meget tid sammen med vores skønne nevøer, ønsker vi os en trækvogn. Den skal kunne foldes sammen, men gerne være holdbar i udfoldet tilstand.
                </p>
            </div>
        </div>

        <div class="storbox">
            <div class="flexbillede">
                <a href="">
                    <img src="/Pictures/Picture14.jpg" />
                </a>
            </div>
            <div class="textflex">
                <p>
                    <h3>Letvægts gasflaske</h3>
                    Med vores nye gril, har vi lidt udfordringer med at have plads til gasflasken under grillen imellem brug, og derfor vil en letvægts gasflaske være en kæmpe hjælp.
                </p>
            </div>
        </div>

        <div class="storbox">
            <div class="flexbillede">
                <a href="">
                    <img src="/Pictures/Picture15.jpg" />
                </a>
            </div>
            <div class="textflex">
                <p>
                    <h3>Oplevelser </h3>
                    Vi er altid åbne for oplevelser, det kan være en middag, hotelophold, koncertbilletter, rejser og meget andet, vi glæder os.
                </p>
            </div>
        </div>

        <div class="storbox">
            <div class="flexbillede">
                <a href="">
                    <img src="/Pictures/Picture6.jpg" />
                </a>
            </div>
            <div class="textflex">
                <p>
                    <h3>Penge</h3>
                    Vi drømmer om så mange ting, som alle koster penge. Det er primært til vielsesringe(guld), bryllupsrejse og renovering af den røde stol.
                </p>
            </div>
        </div>
    </div>
    </div>

</body>
</html>



