﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #FF847C;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    /*
    margin-bottom: 60px;
    background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
        */
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.8;
    color: black;
    color: black;
    background: url('/Pictures/baggrund.JPG') no-repeat center center fixed;
    /*background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed; */
    height: 100%;
    position: relative;
}

.footer {
    position: absolute;
    bottom: 1;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.hvid {
    background-color: rgba(255 255 255 / 70%);
    margin: 1%;
    padding: 3%;
}

.text-center {
    font-family: 'Dancing Script', cursive;
    text-shadow: 2px 2px #bdb2b194;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.storbox {
    display: flex;
    margin: 2%;
}

.textflex {
    margin-left: 1%;
}

.flexbillede img {
    max-width: 100%;
}

.flexbillede {
    width: 45%;
    min-width: 50%;
}

.overnat {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.første {
    width: 100%;
}

    .første div {
        display: flex;
        justify-content: normal;
    }

.anden {
    width: 100%;
}

.første div img {
    max-width: 50%;
    margin-right: 1%;
    max-height: 100%;
}

.anden div img {
    max-width: 50%;
    margin-left: 1%;
}

.anden div {
    display: flex;
    justify-content: normal;
    margin-top: 2%;
}

.forbilled {
    width: 100%;
}

    .forbilled img {
        max-width: 100%;
    }

@media only screen and (max-width: 600px) {
    .anden div p {
        font-size: 8px;
    }

    .første div p {
        font-size: 8px;
    }
}

.knap {
    background-color: darkseagreen;
    border: none;
    text-decoration: none;
    padding: 8px;
    font-family: 'Dancing Script', cursive;
    border-radius: 8px;
    font-size: 18px;
}

.lessspace
{
    margin-bottom: -10px ;
}

.space
{
    margin-bottom: 4%;
}

.divider {
    width: 100%;
    
}

.divider img {
    width: 100%;
}

